<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>¡Servidor con Express y Socket.io!</title>
</head>
<body>
    
    <ul class="room" id="room1"></ul>

    <ul class="room" id="room2"></ul>

    <ul class="room" id="room3"></ul>

    <button id="connectRoom1">Room 1</button>
    <button id="connectRoom2">Room 2</button>
    <button id="connectRoom3">Room 3</button>

    <br>

    <button id="sendMessage">Enviar mensaje</button>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>

</body>
</html>