<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>¡Servidor con Express y Socket.io!</title>
</head>
<body>
    
    <h1>Chat de <span id="namespace"></span></h1>

    <ul id="chat"></ul>

    <button id="sendMessage">Enviar mensaje</button>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>

</body>
</html>